:root {
	--primary-color: #e84c4f;
	--accent-color: #eda345;

	--text-primary: #3e4462;
	--text-secondary: #8b8fa1;
	--text-light: #ffffff;
	--text-accent: #e84c4f;

	--background-color: #ffffff;
	--divider-color: #ecedf0;
	--screen-margin: 20px;

	--card-height-desktop: 300px;
	--card-height-mobile: 300px;

	--card-width-desktop: 280px;
	--card-width-mobile: 240px;

	--card-gutter-mobile: 20px;
	--card-gutter-desktop: 30px;

	--card-padding: 20px;
	--card-gap: 10px;
	--card-radius: 6px;
}
